<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GTSavesManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GTSavesManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <GTSavesManager.Properties.Settings>
            <setting name="savesFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="launcherPath" serializeAs="String">
                <value />
            </setting>
            <setting name="lastGlobalSaveName" serializeAs="String">
                <value />
            </setting>
        </GTSavesManager.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <GTSavesManager.Properties.Settings>
            <setting name="dateTimeFilePattern" serializeAs="String">
                <value>yyyyMMddHHmmss</value>
            </setting>
            <setting name="dateTimeDisplayPattern" serializeAs="String">
                <value>yyyy-MM-dd HH:mm:ss</value>
            </setting>
        </GTSavesManager.Properties.Settings>
    </applicationSettings>
</configuration>